<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
resultType表示查询对象的返回类型为User类型
#{}：从传递过来的参数中取出值
namespace是名称空间，要和User.java所在的cn.mybatis.bean目录对应不能写错
-->
<!--命名空间写接口-->
<mapper namespace="tb.dao.AdDao" >
    <select id="SelectAdByMap" resultType="tb.entity.Ad">
        select
            *
        from
            AD
        where 1=1
            <if test="name != null and name !=''">
                and ad_name like "%"#{name}"%"
            </if>
            <if test="tel != null and tel !=''">
                and ad_tel like "%"#{tel}"%"
            </if>
            <if test="registerBegin != null and registerEnd != null">
                and ad_register between #{registerBegin} and #{registerEnd}
            </if>
            <if test="loginBegin != null and loginEnd != null">
                and ad_login between #{loginBegin} and #{loginEnd}
            </if>
            <if test="userStatus == 0 or userStatus == 1">
                and ad_status = #{userStatus}
            </if>
    </select>


    <select id="SelectAdById"  parameterType="java.lang.Integer" resultType="tb.entity.Ad">
        select * from AD
                 where ad_id=#{id}
    </select>


    <select id="SelectAdByName"  parameterType="java.lang.String" resultType="tb.entity.Ad">
        select * from AD
                 where ad_name=#{name}
    </select>


    <insert id="InsertAd" parameterType="tb.entity.Ad">
        insert into AD
        <trim prefix="(" suffix=")" suffixOverrides=",">
            ad_id,
            ad_name,
            ad_pwd,
            <if test="ad.ad_img != null">ad_img,</if>
            <if test="ad.ad_login != null">ad_login,</if>
            ad_tel,
            ad_register,
            ad_salt,
            ad_status
        </trim>

        values

        <trim prefix="(" suffix=")" suffixOverrides=",">
            null,
            #{ad.ad_name},
            #{ad.ad_pwd},
            <if test="ad.ad_img != null and ad.ad_img != ''">#{ad.ad_img},</if>
            <if test="ad.ad_login != null">#{ad.ad_login},</if>
            #{ad.ad_tel},
            #{ad.ad_register},
            #{ad.ad_salt},
            #{ad.ad_status}
        </trim>

    </insert>


    <delete id="DeleteAdById" parameterType="java.lang.Integer">
        delete from AD
               where ad_id = #{id}
    </delete>

    <update id="UpdateAd" parameterType="tb.entity.Ad">
        update AD
        <set>
            <trim suffixOverrides=",">
                <if test="ad.ad_name != null and ad.ad_name !=''">ad_name = #{ad.ad_name},</if>
                <if test="ad.ad_pwd != null and ad.ad_pwd != ''">ad_pwd = #{ad.ad_pwd},</if>
                <if test="ad.ad_img != null and ad.ad_img != ''">ad_img = #{ad.ad_img},</if>
                <if test="ad.ad_login != null">ad_login = #{ad.ad_login},</if>
                <if test="ad.ad_tel != null and ad.ad_tel != ''">ad_tel = #{ad.ad_tel},</if>
                <if test="ad.ad_register != null">ad_register = #{ad.ad_register},</if>
                <if test="ad.ad_salt != null and ad.ad_salt !=''">ad_salt = #{ad.ad_salt},</if>
                <if test="ad.ad_status != null and ad.ad_salt !=''">ad_status = #{ad.ad_status}</if>

            </trim>
        </set>
        where ad_id = #{ad.ad_id}
    </update>


</mapper>