<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--命名空间写接口-->
<mapper namespace="tb.dao.AuDao" >

    <select id="SelectAuByMap" resultType="tb.entity.Au">
        select
            *
        from
            AU
        where 1=1
        <if test="id != null">
            and au_id = #{id}
        </if>
        <if test="name != null and name !=''">
            and au_name like "%"#{name}"%"
        </if>
        <if test="tel != null and tel !=''">
            and au_tel like "%"#{tel}"%"
        </if>
        <if test="registerBegin != null and registerEnd != null">
            and au_register between #{registerBegin} and #{registerEnd}
        </if>
        <if test="loginBegin != null and loginEnd != null">
            and au_login between #{loginBegin} and #{loginEnd}
        </if>
        <if test="userStatus == 0 or userStatus ==1">
            and au_status = userStatus
        </if>

    </select>

<!--    <select id="SelectAllAu" resultType="tb.entity.Au">-->
<!--        select * from AU;-->
<!--    </select>-->


    <select id="SelectAuById"  parameterType="java.lang.Integer" resultType="tb.entity.Au">
        select * from AU
        where au_id=#{id}
    </select>


    <select id="SelectAuByName"  parameterType="java.lang.String" resultType="tb.entity.Au">
        select * from AU
        where au_name=#{name}
    </select>


<!--    <select id="SelectAuByTel"  parameterType="java.lang.String" resultType="tb.entity.Au">-->
<!--        select * from AU-->
<!--        where au_tel=#{tel}-->
<!--    </select>-->


<!--    <select id="SelectAuByLogin" parameterType="java.sql.Date" resultType="tb.entity.Au">-->
<!--        select * from AU-->
<!--        where au_login between #{begintime} and #{endtime}-->
<!--    </select>-->


<!--    <select id="SelectAuByRegister"  parameterType="java.sql.Date" resultType="tb.entity.Au">-->
<!--        select * from AU-->
<!--        where au_register between #{begintime} and #{endtime}-->
<!--    </select>-->


<!--    <select id="SelectAuByNameFuzzy"  parameterType="java.lang.String" resultType="tb.entity.Au">-->
<!--        select * from AU-->
<!--        where au_name like "%"#{name}"%"-->
<!--    </select>-->


<!--    <select id="SelectAuByTelFuzzy"  parameterType="java.lang.String" resultType="tb.entity.Au">-->
<!--        select * from AU-->
<!--        where au_tel like "%"#{tel}"%"-->
<!--    </select>-->


    <insert id="InsertAu"  parameterType="tb.entity.Au" >
        insert into AU(au_id,au_name,au_pwd,au_img,au_login,au_tel,au_register,au_salt)
        values (null,#{au.au_name},#{au.au_pwd},#{au.au_img},#{au.au_login},#{au.au_tel},#{au.au_register},#{au.au_salt})
    </insert>


    <delete id="DeleteAuById" parameterType="java.lang.Integer">
        delete from AU
        where au_id = #{id}
    </delete>


    <delete id="DeleteAuByName" parameterType="java.lang.String">
        delete from AU
        where au_name = #{name}
    </delete>


    <delete id="DeleteAuByTel" parameterType="java.lang.String">
        delete from AU
        where au_tel = #{tel}
    </delete>


    <update id="UpdateAu" parameterType="tb.entity.Au">
        update AU
        set au_name = #{au.au_name},
            au_pwd = #{au.au_pwd},
            au_img = #{au.au_img},
            au_login =#{au.au_login},
            au_tel = #{au.au_tel},
            au_register = #{au.au_register},
            au_salt = #{au.au_salt}
        where au_id = #{au.au_id}
    </update>


</mapper>