<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--命名空间写接口-->
<mapper namespace="tb.dao.AuDao" >

    <select id="SelectAuByMap" resultType="tb.entity.Au">
        select
        *
        from
        AU
        where 1=1
        <if test="name != null and name !=''">
            and au_name like "%"#{name}"%"
        </if>
        <if test="tel != null and tel !=''">
            and au_tel like "%"#{tel}"%"
        </if>
        <if test="registerBegin != null and registerEnd != null">
            and au_register between #{registerBegin} and #{registerEnd}
        </if>
        <if test="loginBegin != null and loginEnd != null">
            and au_login between #{loginBegin} and #{loginEnd}
        </if>
        <if test="userStatus == 0 or userStatus == 1">
            and au_status = #{userStatus}
        </if>

    </select>

    <select id="SelectAuById"  parameterType="java.lang.Integer" resultType="tb.entity.Au">
        select * from AU
            where au_id=#{id}
    </select>


    <select id="SelectAuByName"  parameterType="java.lang.String" resultType="tb.entity.Au">
        select * from AU
            where au_name=#{name}
    </select>



    <insert id="InsertAu" parameterType="tb.entity.Au">
        insert into AU
        <trim prefix="(" suffix=")" suffixOverrides=",">
            au_id,
            au_name,
            au_pwd,
            <if test="au.au_img != null">au_img,</if>
            <if test="au.au_login !=null">au_login,</if>
            au_tel,
            au_register,
            au_salt,
            au_status,
            <if test="au.au_unblocktime != null">au_unblocktime</if>
        </trim>

        values

        <trim prefix="(" suffix=")" suffixOverrides=",">
            null,
            #{au.au_name},
            #{au.au_pwd},
            <if test="au.au_img != null">#{au.au_img},</if>
            <if test="au.au_login !=null">#{au.au_login},</if>
            #{au.au_tel},
            #{au.au_register},
            #{au.au_salt},
            #{au.au_status},
            <if test="au.au_unblocktime != null">#{au.au_unblocktime}</if>
        </trim>

    </insert>


    <delete id="DeleteAuById" parameterType="java.lang.Integer">
        delete from AU
            where au_id = #{id}
    </delete>


    <update id="UpdateAu" parameterType="tb.entity.Au">
        update AU
        <set>
            <trim suffixOverrides=",">
                <if test="au.au_name != null">au_name = #{au.au_name},</if>
                <if test="au.au_pwd != null">au_pwd = #{au.au_pwd},</if>
                <if test="au.au_img != null">au_img = #{au.au_img},</if>
                <if test="au.au_login != null">au_login = #{au.au_login},</if>
                <if test="au.au_tel != null">au_tel = #{au.au_tel},</if>
                <if test="au.au_register != null">au_register = #{au.au_register},</if>
                <if test="au.au_salt != null">au_salt = #{au.au_salt},</if>
                <if test="au.au_status != null">au_status = #{au.au_status},</if>
                <if test="au.au_unblocktime != null">au_unblocktime = #{au.au_unblocktime}</if>
            </trim>
        </set>
            where au_id = #{au.au_id}
    </update>

</mapper>