<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--命名空间写接口-->
<mapper namespace="tb.dao.NoticeDao" >

    <select id="SelectAllNotice"  resultType="tb.entity.Notice">
        select * from NOTICE order by notice_time
    </select>


    <insert id="InsertNewNotice"  parameterType="tb.entity.Notice" useGeneratedKeys="true" keyProperty="notice.notice_id">
        insert into
            NOTICE(
                notice_id,
                notice_time,
                notice_content,
                notice_title
            )
            values(
                null,
                #{notice.notice_time},
                #{notice.notice_content},
                #{notice.notice_title}
            )
    </insert>


    <delete id="DeleteNoticeById" parameterType="tb.entity.Notice">
        delete from NOTICE
            where notice_id = #{notice.notice_id}
    </delete>

</mapper>