<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--命名空间写接口-->
<mapper namespace="tb.dao.TaskDao" >
    <select id="SelectTaskById" parameterType="java.lang.Integer" resultType="tb.entity.Task">
        select * from TASK
            where task_id = #{taskId}
    </select>

    <select id="SelectTaskByStatusAndTimeout" parameterType="java.lang.String" resultType="tb.entity.Task">
        select * from TASK
            where
                1 = 1
                <if test = "status != null" >and task_status = #{status} </if>
                <if test = "timeout != null">and task_timeout = #{timeout}</if>
    </select>

    <select id="SelectTaskByPublisherId" parameterType="java.lang.Integer" resultType="tb.entity.Task">
        select * from TASK
            where task_publisherid = #{task_publisherId}
    </select>

    <select id="SelectTaskByTakerId" parameterType="java.lang.Integer" resultType="tb.entity.Task">
        select * from TASK
            where task_takerid = #{task_takerId}
    </select>

    <insert id="PublishNewTask" parameterType="tb.entity.Task">
        insert into TASK
        <trim prefix="(" suffix=")" suffixOverrides=",">
            task_id,
            task_status,
            task_timeout,
            task_begintime,
            task_endtime,
            <if test="task.task_taketime != null">task_taketime,</if>
            <if test="task.task_finishtime != null">task_finishtime,</if>
            task_publisherid,
            <if test="task.task_takerid != null">task_takerid,</if>
            task_coin,
            <if test="task.task_score != null">task_score,</if>
            <if test="task.task_advice != null">task_advice,</if>
            <if test="task.task_auid != null">task_auid,</if>
            <if test="task.task_evidence != null">task_evidence,</if>
            task_location,
            task_title,
            task_text
        </trim>

        values

        <trim prefix="(" suffix=")" suffixOverrides=",">
            null,
            #{task.task_status},
            #{task.task_timeout},
            #{task.task_begintime},
            #{task.task_endtime},
            <if test="task.task_taketime != null">#{task.task_taketime},</if>
            <if test="task.task_finishtime != null">#{task.task_finishtime},</if>
            #{task.task_publisherid},
            <if test="task.task_takerid != null">#{task.task_takerid},</if>
            #{task.task_coin},
            <if test="task.task_score != null">#{task.task_score},</if>
            <if test="task.task_advice != null">#{task.task_advice},</if>
            <if test="task.task_auid != null">#{task.task_auid},</if>
            <if test="task.task_evidence != null">#{task.task_evidence},</if>
            #{task.task_location},
            #{task.task_title},
            #{task.task_text}
        </trim>

    </insert>

    <update id="UpdateTask" parameterType="tb.entity.Task">
        update TASK
        <set>
            <trim suffixOverrides=",">
                <if test="task.task_status != null">task_status = #{task.task_status},</if>
                <if test="task.task_timeout != null">task_auid = #{task.task_timeout},</if>
                <if test="task.task_begintime != null">task_begintime = #{task.task_begintime},</if>
                <if test="task.task_endtime != null">task_endtime = #{task.task_endtime},</if>
                <if test="task.task_taketime != null">task_taketime = #{task.task_taketime},</if>
                <if test="task.task_finishtime != null">task_finishtime = #{task.task_finishtime},</if>
                <if test="task.task_publisherid != null">task_publisherid = #{task.task_publisherid},</if>
                <if test="task.task_takerid != null">task_takerid = #{task.task_takerid},</if>
                <if test="task.task_coin != null">task_coin = #{task.task_coin},</if>
                <if test="task.task_score != null">task_score = #{task.task_score},</if>
                <if test="task.task_advice != null">task_advice = #{task.task_advice},</if>
                <if test="task.task_auid != null">task_auid = #{task.task_auid},</if>
                <if test="task.task_evidence != null">task_evidence = #{task.task_evidence},</if>
                <if test="task.task_location != null">task_location = #{task.task_location},</if>
                <if test="task.task_title != null">task_title = #{task.task_title},</if>
                <if test="task.task_text != null">task_text = #{task.task_text},</if>

            </trim>

        </set>
        where task_id = #{task.task_id}
    </update>


    <delete id="DeleteTaskById" parameterType="java.lang.Integer">
        delete from TASK
            where task_id = #{id}
    </delete>


    <delete id="DeleteTask" parameterType="tb.entity.Task">
        delete from TASK
            where task_id = #{task.task_id}
    </delete>


</mapper>